{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_title %}
- Add Review
{% endblock %}

{% block content %}
<div class="container bg-light vh-100 pt-4">
    <div class="row">
        <div class="col-6 offset-3 text-center">
            <h2>Tell us how we did!</h2>
            <hr>
        </div>
        <div class="col-12">
            <form method="POST" action="{% url 'add_review' %}" id="review-form" class="w-100">
                {% csrf_token %}
                <div class="d-flex justify-content-end">
                    <!-- Rating Picker -->
                    <p class="pt-3">Rating:</p>
                    <div class="stars">
                        <input class="star star-5" id="star-5" type="radio" name="rating" value="5" required/>
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" name="rating" value="4"/>
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" name="rating" value="3"/>
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" name="rating" value="2"/>
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-1" id="star-1" type="radio" name="rating" value="1"/>
                        <label class="star star-1" for="star-1"></label>
                    </div>
                </div>
                {{ review_form.review |as_crispy_field }}
                <div class="d-flex justify-content-center">
                    <a href="{% url 'home' %}"  class="btn btn-black rounded-0">Home</a>
                    <button type="submit" class="btn btn-black ms-2 rounded-0">Send Review</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}