{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid bg-dark header-container sticky-top">
        <div class="row">
            <div class="col-12">
                <p class="text-center fs-6 text-light">
                    <i class="fas fa-truck"></i>
                    Due to the current COVID pandemic deliveries may take longer than usual and some items may be out of stock. Thank you for your understanding.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="display-6 pt-2 text-center">
            Check Out Our Latest Builds!
        </h1>
        <hr>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-12 my-auto">
                <div id="prebuildcarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#prebuildcarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#prebuildcarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#prebuildcarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner bg-dark">
                        {% for product in products %}
                            <a href="{% url 'product_details' product.id %}" class="text-decoration-none carousel-item{% if forloop.counter == 1 %} active{% endif %}">
                                <div class="row">
                                    <div class="col-12 col-md-3 offset-md-1">
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid product-img">
                                        {% else %}
                                            <img src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}" class="img-fluid product-img">
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-md-7 d-flex flex-column align-self-center">
                                        <h5 class="text-light">{{ product.name }}</h5>
                                        <p class="text-muted">{{ product.info }}</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#prebuildcarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#prebuildcarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
