{% extends "base.html" %}
{% load static %}
{% load template_extras %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block extra_title %}
- {{ profile.user.username }}
{% endblock %}

{% block content %}

    <div class="container custom-container bg-light">
        <div class="row">
            <div class="col">
                <h2 class="text-uppercase text-center mt-2">My Profile</h2>
                <hr class="mt-0">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <h4>Default Delivery Details</h4>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-black rounded-0 float-end mt-1" type="submit">Update Info</button>
                </form>
                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'account_change_password' %}" class="btn btn-black mt-1 rounded-0">Change Password</a>
                        <a href="{% url 'account_email' %}" class="btn btn-black mt-1 rounded-0">Change Email</a>
                        <a href="{% url 'socialaccount_connections' %}" class="mt-1 btn btn-black rounded-0">Social Accounts</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-2">
                <h4>Order History</h4>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order No.</th>
                                <th>Date</th>
                                <th>Products</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">{{ order.order_number|truncatechars:6 }}</a>
                                    </td>
                                    <td>
                                        {{ order.date }}
                                    </td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">{{ item.product.name }} x {{ item.quantity }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>
                                        £{{ order.final_amount }}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>
                                        <p>No orders in order history.</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script>
        let countrySelected = $('#id_default_country').val();
        if (!countrySelected) {
            $('#id_default_country').css('color', '#aab7c4');
        };
        $('#id_default_country').change(function () {
            countrySelected = $(this).val();
            if (!countrySelected) {
                $(this).css('color', '#aab7c4');
            } else {
                $(this).css('color', '#000');
            }
        });
    </script>

{% endblock %}