html {
    height: 100%;
}

#user-options::after {
    content: none;
}

.dropdown-menu li a {
    text-decoration: none;
}

#products>.dropdown-menu, #mobile-searchbar {
    animation: growDown 300ms ease-in-out;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
    transform-origin: top center;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.btt-atb {
    margin-bottom: 1.1rem!important;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 205px;
    right: 15px;
    z-index: 99999999;
}

.toast-capper {
    height: 3px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }
}

@media (min-width: 1200px) {

    .product-img {
        max-height: 300px;
    }

    #product-image {
        border-bottom: none!important;
    }
}

@media (max-width: 1199.98px) {

    #product-image {
        border-right: none !important;
    }
}