<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item border-dark border-bottom-0 border-2 border">
            <a class="nav-link" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown border-dark border-bottom-0 border-start-0 border-2 border" id="products">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
            </a>
            <ul class="dropdown-menu py-0 rounded-0 border-start-0 bg-warning">
                <li class="dropdown-item" style="transform: rotate(0);"><a class="text-dark stretched-link" href="{% url 'products' %}">All Products</a></li>
                <li class="dropdown-item" style="transform: rotate(0);"><a class="text-dark stretched-link" href="{% url 'products' %}?category=gpus">GPUs</a></li>
                <li class="dropdown-item" style="transform: rotate(0);"><a class="text-dark stretched-link" href="{% url 'products' %}?category=cpus">CPUs</a></li>
                <li class="dropdown-item" style="transform: rotate(0);"><a class="text-dark stretched-link" href="{% url 'products' %}?category=motherboards">Motherboards</a></li>
                <li class="dropdown-item" style="transform: rotate(0);"><a class="text-dark stretched-link" href="{% url 'products' %}?category=memory">Memory - RAM</a></li>
                <li class="dropdown-item" style="transform: rotate(0);"><a class="text-dark stretched-link" href="{% url 'products' %}?category=storage_hdd,storage_ssd">Storage - SSD/HDD</a></li>
                <li class="dropdown-item" style="transform: rotate(0);"><a class="text-dark stretched-link" href="{% url 'products' %}?category=psus">PSUs</a></li>
                <li class="dropdown-item" style="transform: rotate(0);"><a class="text-dark stretched-link" href="{% url 'products' %}?category=cooling">Cooling</a></li>
                <li class="dropdown-item" style="transform: rotate(0);"><a class="text-dark stretched-link" href="{% url 'products' %}?category=cases">Cases</a></li>
            </ul>
        </li>

        <li class="nav-item border-dark border-bottom-0 border-start-0 border-2 border">
            <a href="{% url 'products' %}?category=pre_built" class="nav-link">Pre-Built PCs</a>
        </li>

        <li class="nav-item border-dark border-bottom-0 border-start-0 border-2 border">
            <a href="{% url 'custom_build' %}" class="nav-link">Build a PC</a>
        </li>
    </ul>
</div>