<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="nav-link" href="/" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown" id="products">
            <a class="nav-link dropdown-toggle" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Products
            </a>
            <ul class="dropdown-menu rounded-0 bg-warning border-0">
                <li class="dropdown-item"><a class="text-dark" href="{% url 'products' %}">All Products</a></li>
                <li class="dropdown-item"><a class="text-dark" href="#">GPUs</a></li>
                <li class="dropdown-item"><a class="text-dark" href="#">CPUs</a></li>
                <li class="dropdown-item"><a class="text-dark" href="#">Motherboard</a></li>
                <li class="dropdown-item"><a class="text-dark" href="#">RAM</a></li>
                <li class="dropdown-item"><a class="text-dark" href="#">Storage</a></li>
                <li class="dropdown-item"><a class="text-dark" href="#">PSUs</a></li>
                <li class="dropdown-item"><a class="text-dark" href="#">Cooling</a></li>
                <li class="dropdown-item"><a class="text-dark" href="#">Cases</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a href="" class="nav-link">Pre-Built PCs</a>
        </li>

        <li class="nav-item">
            <a href="" class="nav-link">Build a PC</a>
        </li>
    </ul>
</div>