<!-- Profile dropdown and basket -->
<div class="col-12 col-md-4 mt-2 d-md-flex justify-content-md-end py-1">
    <ul class="list-inline list-unstyled">
        <li class="list-inline-item dropdown">
            <a class="dropdown-toggle btn" href="#" role="button" id="user-options" data-bs-toggle="dropdown"
                aria-expanded="false">
                <div class="text-center">
                    <div class="icon">
                        <i class="fas fa-user fa-lg"></i>
                    </div>
                    <p class="my-0">My Account</p>
                </div>
            </a>
            <ul class="dropdown-menu border-1 rounded-0 py-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li><a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a></li>
                    {% endif %}
                    <li><a href="{% url 'profile' %}" class="dropdown-item">My Profile</a></li>
                    <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a></li>
                    <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                {% endif %}
            </ul>
        </li>
        <li class="list-inline-item">
            <a class="btn" href="{% url 'show_basket' %}">
                <div class="text-center">
                    <div class="icon">
                        <i class="fas fa-shopping-cart fa-lg"></i>
                    </div>
                    <p class="my-0">
                        {% if final_amount %}
                            £{{ final_amount|floatformat:2 }}
                        {% else %}
                            £0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>