{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block inner_content %}
<h2 class="mb-4">{% trans "Account Connections" %}</h2>
<hr>

{% if form.accounts %}
<p>{% blocktrans %}You can sign in to your account using any of the following third party accounts:{% endblocktrans %}
</p>


<form method="post" action="{% url 'socialaccount_connections' %}">
    {% csrf_token %}

    <fieldset>
        {% if form.non_field_errors %}
        <div id="errorMsg">{{ form.non_field_errors }}</div>
        {% endif %}

        {% for base_account in form.accounts %}
            {% with base_account.get_provider_account as account %}
            <div>
                <label for="id_account_{{ base_account.id }}" class="d-inline-block">
                    <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"
                        class="form-check-input" />
                    <span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }} fs-5">
                        {% if account.get_brand.name == "Facebook" %}
                            <i class="fab fa-facebook"></i>Facebook: <span class="text-capitalize">{{ account }}</span>
                        {% elif account.get_brand.name == "Google" %}
                            <i class="fab fa-google"></i>Google: <span class="text-capitalize">{{ account }}</span>
                        {% else %}
                            {{ account.get_brand.name }}
                        {% endif %}</span>
                </label>
            </div>
            {% endwith %}
        {% endfor %}

        <div>
            <button type="submit" class="btn btn-dark mt-3 rounded-0">{% trans 'Remove' %}</button>
        </div>

    </fieldset>

</form>

{% else %}
<p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
{% endif %}

<h4>{% trans 'Connect with your social account.' %}</h4>

<ul class="socialaccount_providers list-unstyled">
    {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
</ul>

{% include "socialaccount/snippets/login_extra.html" %}
<a href="{% url 'profile' %}" class="btn btn-dark rounded-0">Back to profile</a>
{% endblock %}